{% extends "NabliEspManBundle::layout.html.twig" %}

{% block title %}Event Streaming Manager - by klaudnabli{% endblock %}
{% block body_content %}
<div class="row">
	<div class="col-lg-12">
    	<h2 class="page-header">Engines <span class="label label-success">New</span></h1>
        <h4> Was gibt es hier </h4>
        
        {{ form_widget(form) }}

		</div>
	</div>
{% endblock %}
