{% extends 'NabliAppBundle::app_layout.html.twig' %}

{% block navbarbrand %} <i class="fa fa-cogs"></i> Digial HUB {% endblock %}


{% block body_content %}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Overview</h1>
	</div>
</div>
{% endblock %}
